/* CSS Variables Area */
:root {
    --bg: #f8fafc;
    --card: #ffffff;
    --primary: #3b82f6;
    --text: #1e293b;
    --label: rgba(172, 40, 126, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: var(--card);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 320px;
}

/* TASK: Add styles for .score-board, .choices, .choice-btn, #message, and .reset-btn below! */
.score-board {
    display: flex;
    justify-content: space-around;
    background: var(--bg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.score-item {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.value {
    font-size: 2rem;
}

.label {
    font-size: 1rem;
    color: var(--label);
}

.choices {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    margin-bottom: 1.1rem;
}

.choice-btn {
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.choice-btn:hover {
    background-color: var(--label);
}

#message {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: var(--text);
}

.reset-btn {
    border: none;
    border-radius: 0.5rem;
    color: var(--text);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.reset-btn:hover {
    background-color: var(--label);
}